.RatingFilter{
    width: 80%;
    text-align: center;
    margin: auto;
    color: white;

}

.RatingFilter .rating-star {
    padding: 10px 15px;
}

.RatingFilter h5 {
    font-family: 'Poppins', sans-serif;
    color: rgb(87, 87, 87);
}